/* =====================
GENERAL
===================== */

body{

margin:0;
padding:20px;
font-family:Arial, Helvetica, sans-serif;
background:#f3f4f6;

}


h1,h2,h3{

text-align:center;

}


/* =====================
TARJETAS
===================== */

.card{

background:white;
padding:22px;
margin-bottom:25px;
border-radius:25px;
box-shadow:0 8px 20px #cccccc;

}


.pantalla{

display:none;

}



/* =====================
BOTONES
===================== */


button{

width:100%;
padding:16px;
margin-top:15px;
border:none;
border-radius:18px;
background:#ff9800;
font-size:18px;
font-weight:bold;
cursor:pointer;

}



button:active{

transform:scale(.98);

}



.eliminar{

background:#d32f2f;
color:white;

}



/* =====================
FORMULARIOS
===================== */


input,
textarea{

width:100%;
padding:15px;
margin-top:12px;
box-sizing:border-box;
border-radius:15px;
border:1px solid #bbb;
font-size:16px;

}



textarea{

height:100px;

}



label{

display:block;
margin-top:15px;
font-size:16px;

}



/* =====================
IMAGEN SUBASTA
===================== */


.foto{

width:100%;
max-height:330px;
object-fit:cover;
border-radius:22px;
margin-top:15px;

}



/* =====================
PANEL OFERTA
===================== */


.oferta{

background:#050505;
color:white;
padding:25px;
border-radius:25px;
text-align:center;
margin-top:20px;

}



#precio{

font-size:45px;

}



#tiempoRestante{

font-size:32px;
font-weight:bold;

}



#estadoFinal{

color:#ff9800;
font-size:24px;

}



/* =====================
LISTAS
===================== */


.item{

background:#fafafa;
padding:15px;
border-radius:18px;
margin-bottom:15px;

}



.usuario{

background:#eeeeee;
padding:12px;
border-radius:12px;
margin-bottom:10px;

}



li{

font-size:18px;
padding:12px;
border-bottom:1px solid #ddd;

}
