body{

margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#f4f4f4;

}


.app{

max-width:480px;
margin:auto;
padding:15px;

}


.card{

background:white;
padding:18px;
margin-bottom:18px;
border-radius:20px;
box-shadow:0 5px 15px #cccccc;

}


.imagen{

width:100%;
max-height:300px;
object-fit:cover;
border-radius:18px;

}


h1,h2{

text-align:center;

}


.ganando{

background:#111;
color:white;
padding:15px;
border-radius:15px;
text-align:center;

}


#actual{

font-size:40px;

}


button{

width:100%;
padding:15px;
background:#ff9800;
border:0;
border-radius:15px;
font-size:18px;
font-weight:bold;

}


input{

width:100%;
padding:13px;
margin-top:8px;
border-radius:12px;
border:1px solid #ddd;

}


li{

padding:10px;
border-bottom:1px solid #ddd;

}
